{% load static %}
<!-- meta data -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="en-us" />
<meta name="description" content="Knowledge base embracing all data produced by and relevant to the CyanoFactory project partners." />
<meta name="keywords" content="cyano, factory, cell, systems, biology, computational, database, modeling, mittweida" />
<meta name="author" content="Experimental &amp; Computational Biology, University of Applied Sciences Mittweida" />
<meta name="revised" content="2015" />
<meta name="copyright" content="&copy; Experimental & Computational Biology, University of Applied Sciences Mittweida 2014. Original work: &copy; Covert Lab, Stanford University 2008-2012" />

<!-- style -->
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}wedesign/css/styles.css" />

<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}wedesign/externals/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}wedesign/css/bootstrap-custom.css" />

<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}wedesign/node_modules/datatables.net-bs/css/dataTables.bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}wedesign/externals/css/bootstrap-multiselect.css" />

{% comment %}
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}wedesign/css/awesome-bootstrap-checkbox.css" />
{% endcomment %}

<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}wedesign/externals/css/bootstrap-spinedit.css" />

<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}wedesign/externals/css/selectize.css" />
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}wedesign/externals/css/selectize.bootstrap3.css" />

<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}wedesign/externals/css/bootstrap-editable.css" />

<!-- favicon -->
<link rel="icon" type="image/png" href="{% get_static_prefix %}wedesign/favicon.png">

<!-- javascript -->
<script type="text/javascript" src="{% get_static_prefix %}wedesign/node_modules/jquery/dist/jquery.js"></script>

<script type="text/javascript" src="{% get_static_prefix %}wedesign/js/tooltip.js"></script>

<script type="text/javascript" src="{% get_static_prefix %}wedesign/js/csrf.js"></script>

<script type="text/javascript" src="{% get_static_prefix %}wedesign/externals/js/bootstrap.js"></script>

<script type="text/javascript" charset="utf8" src="{% get_static_prefix %}wedesign/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="{% get_static_prefix %}wedesign/node_modules/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" charset="utf8" src="{% get_static_prefix %}wedesign/externals/js/bootbox.js"></script>
<script type="text/javascript" charset="utf8" src="{% get_static_prefix %}wedesign/externals/js/bootstrap-multiselect.js"></script>

<script type="text/javascript" src="{% get_static_prefix %}wedesign/js/spin.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}wedesign/js/wait_indicator.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}wedesign/externals/js/bootstrap-spinedit.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}wedesign/externals/js/selectize.js"></script>

<script type="text/javascript" src="{% get_static_prefix %}wedesign/externals/js/bootstrap-editable.js"></script>
